body, h1, h2, h3, h4, h5, h6, p, a, span, li, blockquote {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Splash screen styles */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation:  slideUp 1s 2s ease-out forwards;
  z-index: 1000;
}

.logo {
  width: 100%;
  opacity: 0;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 1s ease-in forwards;
}

/* Main content styles */
.main-content {
  display: none;
  animation: showContent 0s 3s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  to {
      transform: translateY(-140%);
  }
}

@keyframes showContent {
  to {
      display: block;
  }
}
.hideme
{
    opacity:0;
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  opacity: 0;
  animation: slideRight 0.9s ease-out 2.2s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  animation: slideLeft 0.9s ease-out 2.2s forwards;
}


.first_button {
  animation: shake 2.32s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  25%, 75% {
    transform: translate3d(0, 0, 0);
  }
  30%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  35%, 65% {
    transform: translate3d(2px, 0, 0);
  }
  40%, 50%, 60% {
    transform: translate3d(-4px, 0, 0);
  }
  45%, 55% {
    transform: translate3d(4px, 0, 0);
  }
}